services:
  minio:
    image: docker.io/minio/minio:RELEASE.2022-12-12T19-27-27Z
    command: server /data --console-address ":9001"
    restart: unless-stopped
    env_file: ./apps/gnome-back/.env
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - 'minio_data:/data'
    networks:
      - gnome-backend-network

  gnome-db:
    container_name: gnome-db
    image: postgres:15.3
    restart: unless-stopped
    ports:
      - "5432:5432"
    env_file: ./apps/gnome-back/.env
    volumes:
      - gnome-db-data:/var/lib/postgresql/data
    networks:
      - gnome-backend-network

  gnome-back:
    build:
      context: .
      dockerfile: ./apps/gnome-back/Dockerfile
    container_name: gnome-back
    restart: unless-stopped
    profiles: [ local ]
    ports:
      - "3000:3000"
    depends_on:
      - gnome-db
      - minio
    env_file:
      - ./apps/gnome-back/.env.docker
    networks:
      - gnome-backend-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    profiles: [ metrics ]
    restart: unless-stopped
    env_file: ./apps/gnome-back/.env
    ports:
      - '3001:3000'
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
    depends_on:
     - prometheus
     - gnome-db

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    profiles: [ metrics ]
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - '9090:9090'
    networks:
      - gnome-backend-network

networks:
  gnome-backend-network:
    driver: bridge

volumes:
  gnome-db-data:
  minio_data:
    driver: local
