services:
  gnome-minio:
    container_name: gnome-storage
    image: docker.io/minio/minio:RELEASE.2022-12-12T19-27-27Z
    command: server /data --console-address ":9001"
    restart: unless-stopped
    env_file: ./apps/gnome-back/.env
    ports:
      - '127.0.0.1:9000:9000'
      - '127.0.0.1:9001:9001'
    volumes:
      - gnome-storage-data:/data
    networks:
      - gnome-backend-network

  gnome-db:
    container_name: gnome-db
    image: postgres:15.3
    restart: unless-stopped
    env_file: ./apps/gnome-back/.env
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - gnome-db-data:/var/lib/postgresql/data
    networks:
      - gnome-backend-network

  gnome-back:
#   image: ghcr.io/newbies-workplace/gnome-back:latest
    build:
      context: .
      dockerfile: ./apps/gnome-back/Dockerfile
    container_name: gnome-back
    restart: unless-stopped
    profiles: [ local ]
    ports:
      - "127.0.0.1:3000:3000"
    depends_on:
      - gnome-db
      - gnome-minio
    env_file:
      - ./apps/gnome-back/.env.docker
    networks:
      - gnome-backend-network

  gnome-grafana:
    image: grafana/grafana:latest
    container_name: gnome-grafana
    profiles: [ metrics ]
    restart: unless-stopped
    env_file: ./apps/gnome-back/.env
    ports:
      - '127.0.0.1:3001:3000'
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
    depends_on:
     - gnome-prometheus
     - gnome-db
    networks:
      - gnome-backend-network

  gnome-prometheus:
    image: prom/prometheus:latest
    container_name: gnome-prometheus
    restart: unless-stopped
    profiles: [ metrics ]
    ports:
      - '127.0.0.1:9090:9090'
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - gnome-backend-network

networks:
  gnome-backend-network:
    driver: bridge

volumes:
  gnome-db-data:
    driver: local
  gnome-minio-data:
    driver: local
