services:
  minio:
    image: docker.io/minio/minio:RELEASE.2022-12-12T19-27-27Z
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: supersecret
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - 'minio_data:/data'

  gnome-db:
    image: postgres:15.3
    restart: unless-stopped
    environment:
      POSTGRES_USER: gnome
      POSTGRES_PASSWORD: gnome
    ports:
      - "5432:5432"
    volumes:
      - gnome-db-data:/var/lib/postgresql/data

volumes:
  gnome-db-data:
  minio_data:
    driver: local
