DATABASE_URL=postgresql://gnome:gnome@localhost:5432/gnome?schema=public
JWT_SECRET=<any random string>
PORT=3000

MINIO_ENDPOINT='localhost'
MINIO_PORT=9000

MINIO_ACCESS_KEY=<access_key>
MINIO_SECRET_KEY=<secret_key>
MINIO_USE_SSL=false
MINIO_BUCKET_NAME=images

GOOGLE_CLIENT_ID=<client_id>
GOOGLE_CLIENT_SECRET=<client_secret>
GOOGLE_CALLBACK_URL=<callback_url>

FRONTEND_URL=http://localhost:5173
COOKIE_DOMAIN=localhost

# Infrastructure

POSTGRES_USER=gnome
POSTGRES_PASSWORD=gnome

MINIO_ROOT_USER=gnome
MINIO_ROOT_PASSWORD=

GF_SECURITY_ADMIN_USER=gnome
GF_SECURITY_ADMIN_PASSWORD=

GF_PROM_URL=http://prometheus:9090
GF_DB_URL=gnome-db:5432
GF_DB_USER=gnome
GF_DB_PASSWORD=gnome
GF_DB_NAME=gnome
