name: Deploy

concurrency:
  group: prod
  cancel-in-progress: true

on:
  release:
    types: [published]

env:
  REGISTRY: ghcr.io

jobs:
  build-web:
    name: Build Web
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Build
        run: yarn install && yarn workspace gnome-web build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: gnome-web-dist
          path: apps/gnome-web/dist

  deploy-web:
    name: Deploy to Cloudflare Pages
    runs-on: ubuntu-latest

    permissions:
      contents: read
      deployments: write

    needs: [ build-web ]

    steps:
      - uses: actions/checkout@v5

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: gnome-web-dist
          path: apps/gnome-web/dist

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          preCommands: cd apps/gnome-web
          command: pages deploy --assets=./dist --project-name=gnome-app
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}

  build-back:
    name: Build Docker Image
    runs-on: ubuntu-latest

    environment: Production

    steps:
      - uses: actions/checkout@v5

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/newbies-workplace/gnome-back

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./apps/gnome-back/Dockerfile
          target: gnome-back
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy-back:
    name: Deploy
    runs-on: ubuntu-latest

    environment: Production

    needs: [ build-back ]

    steps:
      - name: Deploy package to production
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: bash ./startup.sh
